@import "tailwindcss";

@layer base {
  :root {
    --silver-light: #e2e4e6;
    --silver-base: #bfc4c9;
    --silver-dark: #8c939b;
    --metallic-glow: rgba(191, 196, 201, 0.4);
  }

  body {
    background-color: #fafaf9;
    /* stone-50 */
    color: #1c1917;
    /* stone-900 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  html[lang="ar"] body {
    font-family: var(--font-tajawal), sans-serif;
  }
  
  html[lang="en"] body {
    font-family: var(--font-inter), sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #57534e, #a8a29e);
  }

  .silver-panel {
    background-image: linear-gradient(to bottom right, #f8f9fa, #e2e4e6);
    box-shadow: 8px 8px 16px #c9cbcd, -8px -8px 16px #ffffff;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .dark-silver-panel {
    background-image: linear-gradient(to bottom right, #292524, #1c1917);
    box-shadow: 8px 8px 16px #1c1917, -8px -8px 16px #44403c;
    border-radius: 1rem;
    border: 1px solid rgba(68, 64, 60, 0.5);
  }
}